# Dependencies
node_modules/

# Build output
dist/
.next/
*.tsbuildinfo

# Environment variables
.env
.env.local
.env.*.local

# Logs
npm-debug.log*

# OS / editor
.vscode/

# Optional caches
coverage/
.cache/
